.Banner{
    /*background-image: linear-gradient(to right,#1d010100,#000);*/
  background-color: rgb(79, 77, 77);
    height: 100vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
color: white;
}

.Banner h1{
    margin: 5vmax;
    font: 600 2.5vmax "Roboto";
}

.Banner > a>button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: black;
  border-radius: 0;
    padding: 1vmax;
    transition:all 0.5s;
    width:9vmax;
    font:500 1vmax "Roboto";
    position:relative;
    top: 120%;
}
.Banner > a >button:hover{
background-color: rgb(59,52,52);
color: azure;
}
.Banner::after{
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: white;
    position: absolute;
    top:0%;
    left: 0;
    clip-path: polygon(100% 100%, 0% 100%, 100% 100%);
    max-width:100%;
}


.homeHeading{
    text-align:start;
    margin-left: 9vmax;
    margin-top:5vmax;
    margin-bottom: 0.2vmax;
    font-size: 2vmax;
    color: rgb(17, 17, 17);
}


.container{
    display:flex;  
    margin-top: 0.5vmax;
   /*width:80vw;*/
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-left: 1vmax;
    margin-right: 6vmax;

}
.productCard{
    width:14vmax;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    margin: 3.5vmax;
    transition: all 0.5s;
    padding-bottom:0.5vmax;
    border-radius: 25px;
    

}

.productCard >img {
    width:20vmax;
    border-radius: 25px;

}

.productCard >  span{
 margin:0.2vmax 0.3vmax;
 font-weight: 400;
font-family: "Kaisei HarunoUmi";
font-size: 1vmax;
font-style: normal;
}

.productCard >p{
    font-family: "Kaisei HarunoUmi";
    font-size: 1.2vmax;
    margin: 0.3vmax 0.1vmax;
    font-weight: 700;
margin-bottom: 0;

}

.productCard img:Hover{
    box-shadow: 0 0 5px rgba(15,15,0.26);
    transform: translateY(-1vmax);
}
.viewbutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewbutton>a>button{
    margin-bottom: 0.2vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    padding: 1vmax;
    transition:all 0.5s;
    width:9vmax;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font:500 1vmax "Roboto";}

    .viewbutton > a >button:hover{
        background-color: black;
        color: azure;}

@media screen and (max-width:600px){

    .Banner > a>button{
        font:400 1.4vmax "Roboto"; 
    }
    
    .productCard >p{
        font-size: 1.7vmax;
    }

    .productCard >span{
        font-size: 1.5vmax;
    }

    .viewbutton>a>button{
        font:400 1.4vmax "Roboto";
    }
}